
html
{
  height: 100vh;
  /*background: ;*/

}

body {
  margin-top: 50px;
  background: url("../pencil2.png") no-repeat right top, linear-gradient(294deg, #21D4FD 0%, #B721FF 80%);
  background-size: auto 45em, cover;

}
.col-xs-8 {
  border-radius: 5px;
  padding-bottom: 1em;
  background: rgba(255,0,255,0.1);
  -webkit-box-shadow: 0px 55px 88px 9px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 55px 88px 9px rgba(0,0,0,0.38);
  box-shadow: 0px 55px 88px 9px rgba(0,0,0,0.38);
}


div.checkbox-inline {
  margin-bottom: 10px;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-top: 10px;
}
input, .drop{
  cursor: pointer;
}
